html {
  font: 16px/1.5 Helvetica, sans-serif;
}

body {
  padding: 45px;
  background: #eee;
}

p {
  margin: 0;
  padding-bottom: 20px;
}

ul li {
  list-style-position: inside;
}

blockquote {
	font-family: "Georgia", serif;
	color: #444;
	width: 40%;
	float: right;
	padding: 0 20px 10px 20px;
	margin: 0 0 15px 20px;
  border-left: 4px solid #ddd;
  font-style: italic; 
	position: relative;	
}

blockquote .author {
  text-align: right;
}
.page {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
}

.page main,
.page aside {
  float: left;
}

.page main {
  width: 70%;
}

.page aside {
  width: 30%;
}

main article {
  padding-right: 30px;
}

aside section {
  padding-left: 70px;
}
.page > header:first-of-type {
	border-bottom: 2px solid #000;
}

header .site-title {
	display: inline-block;
	min-width: 20vw;
	font-weight: bold;
	font-size: 52px;
	text-transform: uppercase;
}

img[class^="align-"] {
	padding: 8px;
	background: #FFF;
	border: 3px solid #222;
	box-shadow: 0 0 5rem 0.1rem rgba(0,0,0,0.25);
}

.align-left {
	float: left;
	margin: 0 20px 15px 0;
}

.align-right {
	float: right;
	margin: 0 0 15px 20px;
}

aside a {
	text-decoration: none;
	color: #431194;
}
