/*body{
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;   
    margin: 0; 
}
article{
    width: 420px;
    margin: 15px auto;
    background: rgb(230, 229, 229);
    padding: 40px;   
}
h3{    
    text-align: center;
    color: #234465;
}
li{
    padding-top: 13px;
    border-bottom: 1px solid black;
    color: #333333;
}*/
